.sticky-row {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.ml-10-percent {
  margin-left: 10%;
}

.custom-action-button {
  right: 5%;
  padding: 6px 16px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.scrollable-user-panel {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-table {
  font-size: 10px;
  margin-left: 7%;
  width: 90% !important;
}

.sticky-thead {
  position: sticky;
  top: 0;
  z-index: 0;
}

.no-data-cell {
  text-align: center;
  font-weight: bold;
}

.password-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn-primary-custom {
  background-color: #135ae8;
  border-color: #6c757d;
  color: #fff;
}

.btn-secondary-custom {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.ml-16-percent {
  margin-left: 16%;
}

.custom-select-height {
  height: 35px;
}

