.noscroll::-webkit-scrollbar {
  display: none;
}

.noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.imagestyles {
  width: 40%;
  height: 20px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 58px;
  background: #07439C;
  z-index: 100;
  transition: all 0.5s ease;
}

ol,
ul {
  padding-left: 0px
}

.sidebar .nav-list {
  height: 100%;
}

.Iconstyles {
  margin-top: 60px;
}

.sidebar li {
  position: relative;
  list-style: none;
  height: 50px;
  cursor: pointer;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 0px);
  z-index: 3;
  background: black;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: white;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar li:hover .tooltip {
  height: 50px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(2, 1, 1);
  cursor: default;
  opacity: 0.75;
}

.sidebar li:hover {
  background: #406CB4;
}
.active-tab {
  background: #3564af;
  border-radius: 2px;

}

.nav-list li:hover {
  background-color: #0056b3;
  color: white;
  cursor: pointer;
}

.tooltip {
  display: inline-block;
  margin-left: 5px;
}
/******Header Component***/
.header{
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid #dcdcdc;
}
.title{
  color: black;
  margin-top: 10px;
  text-align: center;
  flex: 7;
  font-weight: 500;
  font-size: 20px;
}
.profile{
display: flex;
align-items: center;
margin-right: 2%;
}
.profile-image{
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background-color:#f0f0f0 ;
 display: flex;
 justify-content: center;
 margin-right: 10px;
}
.profile-name{
font-size: 14px;
}
/******* Bar Graph*******/
.graph-title {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  margin-bottom: 0;
}

/********Login Page********/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f7fa;
}

.login-form {
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-form label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin: 10px 0 5px;
  color: black;
}

.login-form input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 6px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 28px;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-redirect {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}


.register-link {
  padding-left: 5px;
  color: #007bff;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/*****Registration Page*****/
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f7fa;
}

.register-form {
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.register-container label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.register-container input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.register-container input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  flex: 1;
}

.password-container button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
}

.password-container button:focus {
  outline: none;
}

.register-button {
  width: 100%;
  padding: 7px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #0056b3;
}

.register-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}

.register-container p {
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: #555;
}

.register-container .login-redirect {
  margin-top: 20px;
}

.register-container .login-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.register-container .login-link:hover {
  text-decoration: underline;
}

/*********Metric Tab***********/
.metric-row {
  position: fixed;
  width: 96%;
  left: 6%;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.Nav-tabs {
  border-bottom: 1px solid #dcdcdc;
  margin-left: 4%;
  margin-top: 4%;
  font-size: 15px
}

.nav-components {
  margin-top: 7px;
  margin-left: 4%;
  padding: .5%;
  background-color: rgb(248, 248, 248);
}